{% extends "app/main.html" %}
<!DOCTYPE html>
<body>
{% block header %}Add item{% endblock %}
{% block content %}

    {% if messages %}
        <div id="messages">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}

    <div id="todo-form">
        <form action="/update_item/{{ user_item.id }}" method="post" id="add-item-form">
            {% csrf_token %}
            <label for="to_do">To-do Item:</label>
            <input type="text" id="to_do" name="item" value="{{ user_item.question_text }}" required>

            <label for="due_date">Due Date:</label>
            {{ example_form.my_date_field }}
            {% comment %}<input type="text" id="due_date" name="due_date" required>{% endcomment %}
            <input id="due_date" name="due_date" type="date" required>
            <br><br>
            <input type="submit" value="Enter edited Item">
        </form>
    </div>


{% endblock %}