{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Website{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'app/favicon.ico' %}" />
    <link rel="stylesheet" href="{% static 'app/css/main.css' %}" />
</head>



<body>
    <header>
        <h1>{% block header %}Vítejte na mé webové stránce{% endblock %}</h1>
    </header>

    <nav>
        <ul>
            {%if user.is_authenticated == False%}
                <li><a href="/">Domov</a></li>
                <li><a href="/login/">Přihlášení</a></li>
                <li><a href="/registration/">Registrace</a></li>
            {% else %}
                <li><a href="/logout/">Odhlásit se</a></li>
                <li><a href="/logged_in/">Přidat úkol</a></li>
                <li><a href="/to_do_list/">To do list</a></li>
            {% endif %}
        </ul>
    </nav>

    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>

</html>



