{% extends "app/main.html" %}
<!DOCTYPE html>

<body>

{% block header %}To do list{% endblock %}
{% block content %}
{% if messages %}
        <div id="messages">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}


    <table>
        <thead>
            <tr>
                <th>Datum zadání</th>
                <th>Úkol</th>
                <th>Datum vyhotovení</th>
                <th>Úprava</th>
                <th>Hotovo</th>
            </tr>
        </thead>
        <tbody>
            {% for item in user_items|dictsort:"due_date" %}
                <tr>
                    <td>{{ item.pub_date }}</td>
                    <td>{{ item.question_text }}</td>
                    <td>{{ item.due_date }}</td>
                    <td><a class="edit" href="/edit/{{ item.id }}/">Upravit</a></td>
                    <td><a class="completed" href="/completed/{{ item.id }}/">Hotovo</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    </body>
{% endblock %}

